<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noimageai" />
  <meta name="robots" content="noai" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} - {{ website.title }}">
  {% if metadesc %}
    <meta name="description" content="{{ metadesc }}">
    <meta property="og:description" content="{{ metadesc }}">
  {% else %}
    <meta name="description" content="gamedev and regdev and otherdev and gis and 2d art and some other stuff, too! tutorials and gamefreak codes">
    <meta property="og:description" content="gamedev and regdev and otherdev and gis and 2d art and some other stuff, too! tutorials and gamefreak codes">
  {% endif %}
  {% if hero %}
    <meta property="og:image" content="{{ hero }}">
  {% else %}
    <meta property="og:image" content="/assets/images/catmeister.png">
  {% endif %}
  <link rel="stylesheet" href="{{ '/css/style.css' | url | bust }}" type="text/css" />
  <link rel="stylesheet" href="{{ '/css/print.css' | url | bust }}" type="text/css" media="print" />
  <link
  href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
  rel="stylesheet"
/>
  <link href="/assets/images/faviconv2.ico" rel="icon" type="image/x-icon">
  <title>{{ title }} - {{ website.title }}</title>
</head>

